h4 {
  text-align: left;
  margin-left: 16px;
  margin-top: 16px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: normal;
  line-height: 2;
  max-width: 1200px;
}

h3 {
  text-align: left;
  margin-left: 16px;
  margin-top: 10px;
  font-size: 30px;
}

strong {
  font-size: 18px;
  color: #343a40;
}

img {
  display: in-inline-block;
  width: 700px;
}

.photos {
  width: 1400px;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: left;
}

.home{
  margin-left: 5rem;
  text-align: left;
}

p {
  font-family: sans-serif;
}

.link {
  /* text-decoration: underline; */
  color: rgb(0, 107, 207);
}

.link:hover {
  color: rgb(0, 107, 207);
  text-decoration: underline;
}
